/Ejercicio1/PruebaEjercicio1/nbproject/private/
/Ejercicio2/ejercicio2prueba/nbproject/private/
/Ejercicio2/ejercicio2prueba/build/
/Ejercicio3/ejercicio3/nbproject/private/
/Ejercicio4/ejercicio4/nbproject/private/